<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/navigation')%>
    <%- include('partials/head')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-item-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos officiis debitis ad rem repudiandae. Laboriosam quod eveniet quidem quia eaque accusamus magni cum sed sit perspiciatis id blanditiis labore ipsa, quibusdam itaque asperiores perferendis! Illum, explicabo adipisci minus dignissimos inventore minima dolores quisquam maiores maxime iste eligendi, sequi sed quae non labore saepe architecto sapiente molestiae laudantium doloribus reiciendis illo tenetur. Exercitationem amet harum animi asperiores minima ipsum quo eos, nesciunt tempore praesentium tempora cum soluta veritatis? Voluptatibus quasi fuga cupiditate aut nobis voluptatum odit itaque fugit vitae iure odio magnam, beatae dicta cum praesentium repudiandae accusantium! Perspiciatis magnam quibusdam illo tenetur, corporis odit dolor voluptate error molestiae hic excepturi ut impedit, numquam dolore fugit veritatis eum praesentium aspernatur vero cumque. Blanditiis modi dolor, molestias est distinctio mollitia dolore magnam perspiciatis libero sed magni repudiandae velit quis, saepe qui doloremque unde eius sequi vitae consequuntur hic soluta voluptatibus maiores facere? A mollitia eveniet quod iste molestiae ipsam quibusdam quae vero! Minus laborum aliquid pariatur sint, mollitia, veritatis optio aliquam voluptatem harum ipsam, quis reprehenderit accusantium numquam modi eaque unde dolor tempore provident in delectus fugit ducimus tempora! Quam autem molestias odio, porro corporis mollitia? Veniam dolorum quibusdam voluptatum ex velit odit odio ipsa quia, magnam iure vitae. Aut assumenda veritatis blanditiis reiciendis ipsa accusamus perspiciatis molestias! Magni consequuntur in molestiae? Veniam omnis quibusdam dolorem voluptates quaerat iusto laboriosam, molestias accusamus voluptatum eaque itaque odio quod tempora dicta quae fugit dolor! Amet ratione temporibus cumque excepturi quidem similique nobis odit repellat, libero nihil corrupti! Eius suscipit distinctio, delectus sequi ut numquam harum mollitia facilis praesentium repellendus, voluptatem animi unde tempore quis cumque illo pariatur. Numquam praesentium debitis commodi dolorum iure repellendus modi harum iusto nulla est? Magni animi quae cumque, corrupti suscipit voluptates magnam consectetur tempore rem quas blanditiis velit veritatis.
      </p>
    </section>
</main>
   
    
</body>
<%- include('partials/footer')%>
</html>