body{
background-color:#fe9fa8;

}
#Formulario{
background-color:#f257ee;
}

.btn{
    background-color: #19d8d5 ;
    border-color: #19d8d5;
}

#login{
background-color: #19d8d5;
border-color: #19d8d5;
color: white;

}
#login:hover{
 background-color:blue;
}

